{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Nippur</title>
</head>
<body>
    <div id="block-body">
        <header>
            <div class="logo">
                <a href="">
                    <img src="{% static 'img/logo.jpg' %}" width="150" height="70">
                </a>
            </div>

            <div class="top-menu">
                <ul>
                    <li><a href="#">Об авторе</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>
            </div>

            {% if users.is_authenticated %}
            <div class="block-top-auth">
                <p><a href="logout">Выход</a></p>
            </div>
            <form action="{% url "index" %}" method="get">
                <input class="search" type="text" name="q" placeholder="Search...">
            </form>
            {% for c in records %}
            <p class="song" dflt="{{c.song_title}}" path="{{c.file_path}}" onclick="changeTittle(this)">{{c.song_title}}</p>
            {% endfor %}

            <script src="{% static 'scripts/script.js' %}" defer></script>

            <div class="player">
                <div class="wrapper">
                    <div class="details">
                        <div class="now-playing">PLAYING x OF y</div>
                        <div class="track-art"></div>
                        <div class="track-name">Track Name</div>
                        <div class="track-artist">Track Artist</div>
                    </div>

                    <div class="slider_container">
                        <div class="current-time">00:00</div>
                        <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                        <div class="total-duration">00:00</div>
                    </div>

                    <div class="slider_container">
                        <i class="fa fa-volume-down"></i>
                        <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                        <i class="fa fa-volume-up"></i>
                    </div>

                    <div class="buttons">
                        <div class="btns">
                            <Button onclick="Toggle1()" id="btnh1" class="btn"><i class="fas fa-heart"></i></Button>
                        </div>
                        <div class="prev-track" onclick="prevTrack()">
                            <i class="fa fa-step-backward fa-2x"></i>
                        </div>
                        <div class="playpause-track" onclick="playpauseTrack()">
                            <i class="fa fa-play-circle fa-5x"></i>
                        </div>
                        <div class="next-track" onclick="nextTrack()">
                            <i class="fa fa-step-forward fa-2x"></i>
                        </div>
                        <script>
                            // First Like Button
                            var btnvar1 = document.getElementById('btnh1');
                            function Toggle1() {
                                if (btnvar1.style.color == "green") {
                                    btnvar1.style.color = "black"
                                }
                                else {
                                    btnvar1.style.color = "green"
                                }
                            }
                        </script>
                        <div class="repeat-track" onclick="repeatTrack()">
                            <i class="fa fa-repeat fa-2x" title="repeat"></i>
                        </div>
                    </div>

                    <div id="wave">
                        <span class="stroke"></span>
                        <span class="stroke"></span>
                        <span class="stroke"></span>
                        <span class="stroke"></span>
                        <span class="stroke"></span>
                        <span class="stroke"></span>
                        <span class="stroke"></span>
                    </div>
                </div>
            </div>

            {% else %}
            <div class="block-top-auth">
                <p><a href="login">Вход</a></p>
                <p><a href="register">Регистрация</a></p>
            </div>
            {% endif %}

        </header>

        <div id="block-content"></div>

    </div>



</body>
</html>

