{% load static %}


<!doctype html>

<html lang="ru">

<head>

    <meta charset="UTF-8">

    <title>Nippur - Register</title>

    <link rel="stylesheet" href= "{% static 'css/register.css' %}">

</head>

<body>

    <section>
        <div class="signin">
            <div class="content">
                <h2>Register</h2>
                <div class="form">
                    <div class="inputBox">
                        <input type="email" required> <i>Email</i>
                    </div>
                    <div class="inputBox">
                        <input type="text" required> <i>Username</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required> <i>Password</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required> <i>Repeat Password</i>
                    </div>
                    <div class="links">
                         <a href="login">SignIn</a>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="SignUp">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>